<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">

    <div class="flexrow">
        <div class="flexcol">
            <div class="form-group">
                <label>{{ localize "STARLINK.Ship.HealthPoints" }}</label>
                <div class="form-fields">
                    <input type="number" name="system.attributes.hp.value" value="{{ system.attributes.hp.value }}"
                           data-dtype="Number" min="0">
                    <span class="sep">&sol;</span>
                    <input type="number" name="system.attributes.hp.max" value="{{ system.attributes.hp.max }}"
                           data-dtype="Number" min="0">
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "STARLINK.Ship.Shield" }}</label>
                <div class="form-fields">
                    <input type="number" name="system.attributes.shield.value" value="{{ system.attributes.shield.value }}"
                           data-dtype="Number" min="0">
                    <span class="sep">&sol;</span>
                    <input type="number" name="system.attributes.shield.max" value="{{ system.attributes.shield.max }}"
                           data-dtype="Number" min="0">
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "STARLINK.Ship.Speed" }}</label>
                <div class="form-fields">
                    <input type="number" name="system.attributes.speed" value="{{ system.attributes.speed }}"
                           data-dtype="Number" min="0">
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "STARLINK.Ship.CargoCapacity" }}</label>
                <div class="form-fields">
                    <input type="number" name="system.attributes.capacity" value="{{ system.attributes.capacity }}"
                           data-dtype="Number" min="0">
                </div>
            </div>

            <div class="form-group">
                <label>{{ localize "STARLINK.Ship.ComponentSlots" }}</label>
                <div class="form-fields">
                    <input type="number" name="system.componentSlots.used" value="{{ system.componentSlots.used }}"
                           data-dtype="Number" min="0">
                    <span class="sep">&sol;</span>
                    <input type="number" name="system.componentSlots.max" value="{{ system.componentSlots.max }}"
                           data-dtype="Number" min="0">
                </div>
            </div>
        </div>
    </div>

</section>
